<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XinJia.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C409ED841ED9E53D008E37CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C409ED9D1ED9E53E008E37CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C409EDA81ED9E53E008E37CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
